.section:has(.form.feedback) {
  margin: 0;
}

.section:has(.form.feedback) h1,
.section:has(.form.feedback) h2,
.section:has(.form.feedback) h3,
.section:has(.form.feedback) h4,
.section:has(.form.feedback) h5,
.section:has(.form.feedback) h6 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-m);
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: .09rem;
  color: var(--blue2);
}

.form.feedback form {
  gap: 1rem;
}

.form.feedback form fieldset {
  gap: 2rem;
}

.form.feedback form:has(.error-message) {
  gap: 1.5rem;
}

.form.feedback .field-wrapper:has(fieldset .feedback-smiley-wrapper) {
  align-items: end;
}

.form.feedback label {
  color: var(--gray3);
  font-family: var(--heading-font-family);
  font-size: 0.6875rem;
  font-weight: 400;
  letter-spacing: 0.0938rem;
  line-height: 0.6875rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.form.feedback .feedback-smiley-wrapper label {
  margin: 0;
}

.form.feedback textarea,
.form.feedback input {
  background-color: var(--gray6);
  color: var(--gray3);
  border-radius: 0;
  border: none;
  max-width: 100%;
}

.form.feedback input:hover,
.form.feedback textarea:hover {
  border: none;
}

.form.feedback input:focus,
.form.feedback textarea:focus {
  outline: 0.125rem solid var(--link-color);
}

.form.feedback .feedback-smiley-wrapper fieldset {
  position: relative;
  gap: 0;
}

.form.feedback .post-submit {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
  max-width: calc(100% - 16.5625rem);
}

.form.feedback .post-submit.custom-submit-msg-green {
  color: var(--green3);
}

@media (width >= 768px) {
  .form.feedback form {
    gap: 1.5rem;
  }

  .form.feedback form fieldset {
    gap: 1.5rem;
  }

  .form.feedback form:has(.error-message) {
    gap: 2rem;
  }
}